body {
    text-align: center;
    text-decoration: none;
    margin: 0;

}

header {
    text-transform: uppercase;
    font-family: "raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    font-weight: 600;
    background-color: #f15b31;
    color: #fff;
    padding: 30px 20px;
}

h1 {
    margin: 0;
}

 h2 {
    text-transform: uppercase;
    font-family: "raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight:600;
    font-size: 20px;
}

nav {
    background-color: #00a6b3;
    color: white;
    padding: 20px 0;

}

a {
    text-decoration: none;
    font-family: "raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0 20px;
    border-bottom: 2px solid transparent;


}

a:hover {
    font-size: 18px;
    border-color: white;
}

main {
    width:850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px 0;
}

p {
    font-family: "Droid Serif";
    line-height: 26px;
    font-size: 18px;
}

footer { 
    font-family: "Raleway";
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;

}
 footer a {
     color: #bbb;
 }

.copyright {
    float: left;

}

.message {
    float: right;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

.name {
    color: #f15b31;
    font-weight: 700;

}